.logo > img{
    height: 40px;
}

.Navbar{
    display: flex;
    padding: 10px 20px;
    justify-content:space-between;
    position: sticky;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 75);
    height: 40px;
    background-color: white;
}

.Nav_left{
    display: flex;
    justify-content: space-evenly;
}

.search{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

.search > input{
    border: none;
    background-color: transparent;
    outline-width: 0;
    width: 100%;
}

.Nav_middle{
    display: flex;
    flex: 1;
    justify-content: center;
}

.option > .MuiSvgIcon-root{
    color: gray;
}

.option:hover > .MuiSvgIcon-root{
    color: #2e81f4;
}

.option_active > .MuiSvgIcon-root{
    color: #2e81f4;
}

.option_active{
    border-bottom: 4px solid #2e81f4;
}

.option{
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding:0 30px;
    border-bottom: none;
}

.Nav_info{
    display: flex;
    align-items: center;
}

.Nav_info > h4{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 500;
}

.Nav_right{
    display: flex;
}
