.Post{
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.Post_Top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.Post_Topinfo > h3{
    font-size:medium;
    margin-left: 15px;
    font-weight: 500;
}

.Post_Topinfo > p{
    font-size: small;
    color: gray;
    margin-left: 15px;
}

.Post_Bottom{
    margin-left: 20px;
    margin-bottom: 10px;
}

.Post_Bottom > p{
    font-size: medium;
}

.Post_image > img{
    width: 100%;
}

.Post_Option{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid lightgrey;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 5px;
}

.Option{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 10px;
}

.Option > p{
    font-size: large;
    margin-left: 10px;
}

.Option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}